--
-- PostgreSQL database dump
--

\restrict YTUN1ulPACtTIyb7s0sCazxaCqwtm2EyeujKQ3ocPk0CZME0ycaVmYdBJqrY5eh

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: software_engineer; Type: TABLE; Schema: public; Owner: pranshu
--

CREATE TABLE public.software_engineer (
    id integer NOT NULL,
    name character varying(255),
    tech_stack character varying(255),
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.software_engineer OWNER TO pranshu;

--
-- Name: software_engineer_id_seq; Type: SEQUENCE; Schema: public; Owner: pranshu
--

ALTER TABLE public.software_engineer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.software_engineer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: pranshu
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ROLE_USER'::character varying, 'ROLE_ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO pranshu;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: pranshu
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: software_engineer; Type: TABLE DATA; Schema: public; Owner: pranshu
--

COPY public.software_engineer (id, name, tech_stack, active) FROM stdin;
5	Pranshu	Python	t
6	Pranshu	C++	t
10	Admin Engineer	Spring Boot	t
11	Admin Success	Spring Boot	t
12	Admin Success	Spring Boot & Java	t
13	Logging Test	Spring Boot	t
14	Logging 	Spring	t
15	Logg	Spring	t
16	Log	Spring	t
17	Lo	Spring	t
18	L	Spring	t
19	L	Java	t
20	string3	spring	t
21	Admin Success1	Spring Boot11	t
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pranshu
--



--
-- Name: software_engineer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pranshu
--

SELECT pg_catalog.setval('public.software_engineer_id_seq', 21, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pranshu
--

SELECT pg_catalog.setval('public.users_id_seq', 14, true);


--
-- Name: software_engineer software_engineer_pkey; Type: CONSTRAINT; Schema: public; Owner: pranshu
--

ALTER TABLE ONLY public.software_engineer
    ADD CONSTRAINT software_engineer_pkey PRIMARY KEY (id);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: pranshu
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pranshu
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict YTUN1ulPACtTIyb7s0sCazxaCqwtm2EyeujKQ3ocPk0CZME0ycaVmYdBJqrY5eh

